<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link href="../static/css/main_.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <link href="../static/css/main_.css" rel="stylesheet">
</head>
<body id="body">
<div id="title">标题</div>
<div id="time">时间</div>
<div id="info">主屏</div>
<div id="chart">折线图</div>
<script src="../static/js/line_chart.js"></script>
<script src="../static/js/control.js"></script>
</body>
</html>